$loginBg: #ace0f9;

$headerBg: #ebf1f6;
$headerText: #409eff;

$menuBg: #ebf1f6;
$menuText: #606266;
$menuActiveText: #20a0ff;
$subMenuBorder: #e4e9ee;
$menuActiveBg: #ecf5ff;

$tagsContainerBg: #fff;
$tagsBg: #20a0ff;
$tagActiveText: #fff;

$contentBg: #fff;

$textColor: #606266;
$blueColor: #20a0ff;
$theme-color: #409eff;
