$loginBg: #ace0f9;

$headerBg: #ebf1f6;
$headerText: #606266;

$menuBg: #545c64;
$menuText: #fff;
$menuActiveText: #409eff;
$subMenuBorder: #545c64;
$menuActiveBg: #434a50;

$tagsContainerBg: #fff;
$tagsBg: #ebf5ff;
$tagActiveText: #20a0ff;

$contentBg: #fff;

$textColor: #606266;
$blueColor: #20a0ff;
$theme-color: #409eff;
