$loginBg: var(--login-bg);

$headerBg: var(--header-bg);
$headerText: var(--header-text);

$menuBg: var(--menu-bg);
$menuText: var(--menu-text);
$menuActiveText: var(--menu-active-text);
$subMenuBorder: var(--sub-menu-border);
$menuActiveBg: var(--menu-active-bg);

$tagsContainerBg: var(--tags-container-bg);
$tagsBg: var(--tags-bg);
$tagActiveText: var(--tag-active-text);

$contentBg: var(--content-bg);

$textColor: var(--text-color);
$blueColor: var(--blue-color);
$theme-color: var(--theme-color);
